# Dependencias (si usas Node.js en el futuro)
node_modules/
npm-debug.log

# Archivos del Sistema Operativo
.DS_Store
Thumbs.db

# Archivos de configuración de editores (VS Code, etc.)
.vscode/
.idea/
*.swp
*.log